<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Todo App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <h1>Todo App</h1>
    <div>
        <form action="/add" method="POST">
            <label for="todoitem">Add Item</label>
            <input type="text" name="todoitem" id="">
            <input type="submit">
        </form>
    </div>

    <ul>
        {% for todo in todos %}
        <li><input type="checkbox">{{ todo.text }}</li>
        {% endfor %}
    </ul>
</body>
</html>